<template name="Core_sidebarMenu">
    <li class="{{isActiveRoute name="core.home"}}">
        <a href="{{pathFor "core.home"}}">
            <i class="fa fa-home"></i> <span>{{_ "core.sidebarMenu.home"}}</span>
        </a>
    </li>
    <li class="{{isActiveRoute name="core.exchange"}}">
        <a href="{{pathFor "core.exchange"}}">
            <i class="fa fa-exchange"></i> <span>{{_ "core.sidebarMenu.exchange"}}</span>
        </a>
    </li>
    <li class="{{isActiveRoute name="core.branch"}}">
        <a href="{{pathFor "core.branch"}}">
            <i class="fa fa-sitemap"></i> <span>{{_ "core.sidebarMenu.branch"}}</span>
        </a>
    </li>
    <li class="{{isActiveRoute name="core.company"}}">
        <a href="{{pathFor "core.company"}}">
            <i class="fa fa-building"></i> <span>{{_ "core.sidebarMenu.company"}}</span>
        </a>
    </li>
    <li class="{{isActiveRoute name="core.setting"}}">
        <a href="{{pathFor "core.setting"}}">
            <i class="fa fa-cogs"></i> <span>{{_ "core.sidebarMenu.setting"}}</span>
        </a>
    </li>
    <li class="{{isActiveRoute name="core.user"}}">
        <a href="{{pathFor "core.user"}}">
            <i class="fa fa-user"></i> <span>{{_ "core.sidebarMenu.user"}}</span>
        </a>
    </li>
</template>
