<template name="_HeaderLayout">
    <header class="main-header">
        <!-- Logo -->
        <a href="{{pathFor 'core.welcome'}}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!--<span class="logo-mini"><b>A</b>LT</span>-->
            <span class="logo-mini"><div class="icon fa fa-angellist"></div></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">{{module.name}}</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    {{> Template.dynamic template=module.headerMenu}}

                    <!-- User Account: style can be found in dropdown.less -->
                    {{> _HeaderUserLayout}}
                </ul>
            </div>
        </nav>
    </header>
</template>


