<!--Header User-->
<template name="_HeaderUserLayout">
    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/packages/theara_admin-lte/lib/img/avatar5.png" class="user-image"
                 alt="User Image">
            <span class="hidden-xs">{{user.profile.name}}</span>
        </a>
        <ul class="dropdown-menu">

            <!-- User image -->
            <li class="user-header">
                <img src="/packages/theara_admin-lte/lib/img/avatar5.png"
                     class="img-circle" alt="User Image">
                <p>
                    {{user.profile.name}} - {{user.emailsAddress}}
                    <small>Member since: {{moFormat user.createdAt "DD/MM/YYYY"}}</small>
                </p>
            </li>

            <!-- Menu Body -->
            <!--<li class="user-body">-->
            <!--<div class="col-xs-4 text-center">-->
            <!--<a href="#">Followers</a>-->
            <!--</div>-->
            <!--<div class="col-xs-4 text-center">-->
            <!--<a href="#">Sales</a>-->
            <!--</div>-->
            <!--<div class="col-xs-4 text-center">-->
            <!--<a href="#">Friends</a>-->
            <!--</div>-->
            <!--</li>-->

            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="{{pathFor 'core.profile'}}" class="btn btn-default btn-flat
                        js-profile">{{_ "form.btnProfile"}}</a>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat js-logout">{{_ "form.btnLogout"}}</a>
                </div>
            </li>
        </ul>
    </li>
</template>
