<template name="MainLayout">
    {{#AdminLTE skin="skin-blue" sidebarMini=true}}

        <!-- Site wrapper -->
        <div class="wrapper">

            <!-- Header -->
            {{> _HeaderLayout}}

            <!-- =============================================== -->

            <!-- Left side column. contains the sidebar -->
            {{> _SidebarLayout}}

            <!-- =============================================== -->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                {{> _ContentHeaderLayout}}

                <!-- Main content -->
                <section class="content">
                    <!--<div class="box box-default color-palette-box">-->
                    {{#panelBox}}

                        {{> Template.dynamic template=content}}

                        <!-- Alert -->
                        {{> sAlert}}

                        <!-- Connection Status -->
                        {{> meteorStatus}}

                    {{/panelBox}}
                    <!--</div>-->
                </section><!-- /.content -->

            </div><!-- /.content-wrapper -->

            <!-- Footer -->
            {{> _FooterLayout}}

        </div>
        <!-- ./wrapper -->

    {{/AdminLTE}}
</template>
