<template name="Core_sidebarMenuTool">
    <!--Tool-->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-wrench"></i> <span>TOOL</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">

            <li class="{{isActiveRoute name="core.backup"}}">
                <a href="{{pathFor "core.backup"}}">
                    <i class="fa fa-download"></i> <span>Backup</span>
                </a>
            </li>

            <!--Check restore role-->
            {{#if isRestore}}
                <li class="{{isActiveRoute name="core.restore"}}">
                    <a href="{{pathFor "core.restore"}}">
                        <i class="fa fa-upload"></i> <span>Restore</span>
                    </a>
                </li>
            {{/if}}

        </ul>
    </li>
</template>
