/* Sticky footer styles
-------------------------------------------------- */
/*
html {
    !*position: relative;*!
    min-height: 100%;
}

.main-body {
    !* Margin bottom by footer height *!
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    !* Set the fixed height of the footer here *!
    height: 40px;
    !*height: 60px; *!
    !*background-color: #575757;*!
    !*background-color: #f5f5f5;*!
    text-align: center;
    font-size: 90%;
}

!* Custom page CSS
-------------------------------------------------- *!
!* Not required for template or sticky footer method. *!

body > .container {
    padding: 50px 15px 0;
}

.container .text-muted {
    margin: 0px 0;
    !*margin: 20px 0;*!
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px; !* add new *!
}

code {
    font-size: 80%;
}

!* Page header
------------------------*!
.page-header {
    padding-bottom: 0px;
    !*padding-bottom: 9px;*!
    margin: 20px 0 10px;
    !*margin: 40px 0 20px;*!
    border-bottom: 1px solid #eee;
}

!* Breadcrumb
------------------------*!
.breadcrumb {
    padding: 10px 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    !*padding: 8px 15px;*!
    !*margin-bottom: 20px;*!
    !*list-style: none;*!
    !*background-color: #f5f5f5;*!
    !*border-radius: 4px;*!
}

!* Jombotron
------------------------*!
.jumbotron {
    padding: 15px 15px;
    margin-top: 25px;
    color: inherit;
    background-color: #EEE;
}

.jumbotron h1 {
    color: #db4814;
    text-align: center;
}

!* Page not found
------------------------*!
.not-fount {
    margin-top: 25px;
}

!* BS3 modal
------------------------*!
.modal-body {
    overflow-y: auto;
}
*/

/* Add asterisk (*) after the label for required fields
-----------------------*/
[data-required] label:after {
    content: '*';
    color: red;
}

/* Meteor status
-----------------------*/
.meteor-status {
    color: white;
    background-color: #f7bf66;
    border-color: #f39d14;
    text-align: center;
    padding: 10px;
}

/* Fieldset legend
-----------------------*/
legend {
    font-size: 18px;
    /*font-weight: bold;*/
    color: #337ab7;
    border-bottom: 1px solid #2e6da4;
}

/* Table hover
-----------------------*/
.table-hover > tbody > tr:hover {
    cursor: default;
    /*color: #337ab7;*/
    background-color: #eaeaea;
}

.table-hover-pointer > tbody > tr:hover {
    cursor: pointer;
    /*color: #337ab7;*/
    background-color: #eaeaea;
}

/* Form Footer
-----------------------*/
.form-footer {
    background-color: #fff;
    padding: 19px 0px 3px;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 6px 6px;

    margin-left: 0px;
    margin-right: 0px;
    min-height: 43px;

    text-align: right;
}

/* sAlert
-----------------------*/
.s-alert-box {
    z-index: 1999;
}

/* Column action width for reactive-table
-----------------------*/
.reactive-table .col-action {
    width: 50px;
}

/* Universal select
-----------------------*/
.selectize-input {
    min-height: 25px;
    height: 34px;
    padding: 6px 13px;
    border-radius: 4px;
}

.selectize-dropdown .active {
    background-color: #337ab7;
    color: #ffffff;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #d2d6de;
    border-radius: 0px;
}

.selectize-control.multi .selectize-input, .selectize-dropdown.multi {
    border-color: #d2d6de;
    border-radius: 0px;
}

.selectize-control.single .selectize-input {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    background-color: #ffffff;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
}

.selectize-control.multi .selectize-input {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    background-color: #ffffff;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
}

.universe-selectize.selectize-control.multi .selectize-input {
    height: auto !important;
}

.note-editor.note-frame {
    border: 1px solid #d2d6de;
    border-radius: 0px;
}
