<template name="Simple_sidebarMenu">
    <li class="{{isActiveRoute name='simple.home'}}">
        <a href="{{pathFor 'simple.home'}}">
            <i class="fa fa-home"></i> <span>{{_ "simple.sidebarMenu.home"}}</span>
        </a>
    </li>

    <!--Data-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'Simple'}}
        <li class="header"><i class="fa fa-database"></i> DATA</li>
        <li class="{{isActiveRoute name='simple.customer'}}">
            <a href="{{pathFor 'simple.customer'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "simple.sidebarMenu.customer"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='simple.order'}}">
            <a href="{{pathFor 'simple.order'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "simple.sidebarMenu.order"}}</span>
            </a>
        </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'reporter' 'Simple'}}
        <li class="header"><i class="fa fa-file-o"></i> REPORT</li>
        <li class="{{isActiveRoute name='simple.customerReport'}}">
            <a href="{{pathFor 'simple.customerReport'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "simple.sidebarMenu.customer"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='simple.orderReport'}}">
            <a href="{{pathFor 'simple.orderReport'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "simple.sidebarMenu.order"}}</span>
            </a>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'Simple'}}
        <li class="header"><i class="fa fa-cogs"></i> SETTING</li>
        <li class="{{isActiveRoute name='core.exchange'}}">
            <a href="{{pathFor 'core.exchange'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "core.sidebarMenu.exchange"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='simple.item'}}">
            <a href="{{pathFor 'simple.item'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "simple.sidebarMenu.item"}}</span>
            </a>
        </li>
    {{/if}}
</template>
