<template name="columnAction">
    <div class="btn-group">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <!--<button type="button" class="btn btn-raised dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">-->
            <i class="fa fa-{{#if icon}}{{icon}}{{else}}bars{{/if}}"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-{{#if align}}{{align}}{{else}}left{{/if}}" role="menu">
            {{> Template.contentBlock}}
        </ul>
    </div>
</template>
