/* ---- reset ---- */
canvas {
    display: block;
    vertical-align: bottom;
}

/*!* ---- particles.js container ---- *!*/
#particles-js {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2d3c42;
}

.particles-js-content {
    z-index: 100;
    position: relative;
}